{% extends 'base.html.twig' %}

{% block title %}Complaint index{% endblock %}

{% block body %}
    <h1>Complaint index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>CreatedBy</th>
                <th>CreatedAt</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Status</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for complaint in complaints %}
            <tr>
                <td>{{ complaint.title }}</td>
                <td>{{ complaint.text }}</td>
                <td>{{ complaint.author.getName() }}</td>
                <td>{{ complaint.createdAt ? complaint.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ complaint.status.getLabel() }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_complaint_show', {'id': complaint.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_complaint_edit', {'id': complaint.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>{{ pagerfanta(complaints) }}</div>
{% endblock %}
